### <em>Importing all the things! </em>

In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Data collection

1. Ward-wise Public goods for Bengaluru from opencity.gov . [Find it here](https://data.opencity.in/dataset/bbmp-ward-wise-public-goods-data)
2. Using BeautifulSoup, scrape a popular property site (Magic Bricks) for property rates of ~18 localities in affordable-, mid- and premium- segments

In [2]:
#Convert csv to Pandas df
df = pd.read_csv("bbmppublicgoods.csv")

In [3]:
df.head()

,Ward_No,Ward Name,BBMP Zone Name,Assembly Constituency Name,MP Constituency,Population (2011),Area (sq km),Households # (Census 2011),Road Length (kms),Lakes #,...,BMTC TTMC #,Streetlights #,Police stn,BBMP Division,BBMP Sub Division,Population density 2011 (persons / sq km),Decadal popn growth rate % 2011/2001,Decadal Households growth rate 2011/2001 %,Lake name,Bus routes #
0,1.0,Kempegowda Ward,Yelahanka,Yelahanka,Chikballapur,34783,10.9,8647,86,2,...,0,2379,Yelahanka,Yelahanka,Yelahanka,"3,182",59.10%,72.60%,"Shivanahalli,Yelahanka",136
1,2.0,Chowdeswari Ward,Yelahanka,Yelahanka,Chikballapur,36602,6.5,9506,72,2,...,0,2508,NaN,Yelahanka,Yelahanka,"5,635",86.50%,111.00%,"Puttenahalli,Harohalli",81
2,3.0,Atturu,Yelahanka,Yelahanka,Chikballapur,58129,8.8,14605,169,2,...,1,4227,Yelahanka Setellite Town,Yelahanka,Yelahanka,"6,606",142.00%,171.30%,"Chikkabettahalli,Attur",106
3,4.0,Yelahanka Satellite Town,Yelahanka,Yelahanka,Chikballapur,41986,4.6,10583,86,2,...,0,3626,"Yelahanka, Yelahanka New Town",Yelahanka,Yelahanka,"9,224",62.90%,70.30%,"Shivanahalli,Allalasandra",158
4,5.0,Jakkuru,Yelahanka,Byatarayanapura,Bangalore North,52025,23.5,12387,349,10,...,1,4351,Sampigehalli,Byatarayanapura,Byatarayanapura,"2,215",148.20%,168.80%,"Venkateshapura,Chokkanahalli,Jakkuru - Sampige...",50

In [4]:
df.shape

(199, 29)

In [5]:
df.dtypes

Ward_No                                       float64
Ward Name                                      object
BBMP Zone Name                                 object
Assembly Constituency Name                     object
MP Constituency                                object
Population (2011)                              object
Area (sq km)                                  float64
Households # (Census 2011)                     object
Road Length (kms)                              object
Lakes #                                         int64
Lake area (sq m)                               object
Parks #                                        object
Park area (sq m)                               object
Playgrounds #                                   int64
Playground area (sq m)                         object
Govt Schools #                                  int64
Police Stations #                               int64
Fire stations #                                 int64
Bus Stops #                                    object
BMTC TTMC #                                     int64
Streetlights #                                 object
Police stn                                     object
BBMP Division                                  object
BBMP Sub Division                              object
Population density 2011 (persons / sq km)      object
Decadal popn growth rate % 2011/2001           object
Decadal Households growth rate 2011/2001 %     object
Lake name                                      object
Bus routes #                                   object
dtype: object

In [6]:
#Scrape data from property site
url = "https://www.magicbricks.com/blog/property-rates-in-bangalore/130414.html"
rates_html = requests.get(url).text

In [7]:
rates_soup= BeautifulSoup(rates_html)

In [8]:
tables = rates_soup.select("table")
len (tables)

4

Of the 4 tables, there are 3 that are useful - Property rates in Affordable category, Mid segment and Premium range

In [9]:
aff_table = tables[0]
aff_table.text[:500]

'\n\n\n\n\n\n\n\nQuarterly Price Change in Major Localities with Prices below Rs 5,000 PSF\n\n\nPrices < INR 5,000 psf\n\n\nLocality\nAvg. Rate (INR per square feet)\nRate Change\n\n\nBagalur Main Road\n4,200\n6.65%\n\n\nHoskote\n3,800\n3.54%\n\n\nAttibele\n3,500\n3.21%\n\n\nGunjur\n4,700\n1.38%\n\n\nKadugodi\n4,900\n0.51%\n\n\nChandapura\n3,800\n0.21%\n\n\nKengeri\n4,400\n-1.61%\n\n\nKaggadasapura\n4,400\n-3.02%\n\n\nKengeri Sat. Town\n4,300\n-3.65%\n\n\nRamamurthy Nagar\n4,800\n-3.88%\n\n\nVidyaranyapura\n4,500\n-3.93%\n\n\nHoramavu Agara\n4,400\n-4.39%\n\n\nElectronic Ci'

In [10]:
mid_table = tables[1]
mid_table.text[:500]

'\n\n\n\n\n\n\n\nQuarterly Price Change in Localities with Prices between Rs 5,000-7,000 psf\n\n\nPrices Rs 5,000-7,500 psf\n\n\nLocality\nAvg. Rate (INR psf)\nRate Change\n\n\n\n\nRachenahalli\n6,300\n7.50%\n\n\nBilekahalli\n5,900\n7.50%\n\n\nBegur Road\n6,200\n7.50%\n\n\nHosa Road\n5,700\n7.00%\n\n\nGottigere\n5,800\n7.00%\n\n\nK R Puram\n5,800\n6.50%\n\n\nBudigere\n5,700\n4.43%\n\n\nSarjapur Road\n6,300\n3.13%\n\n\nThanisandra\n6,400\n2.93%\n\n\nJP Nagar 9th Phase\n6,000\n2.02%\n\n\nBudigere Cross\n6,000\n1.33%\n\n\nHSR Layout\n7,200\n1.05%\n\n\nVijayanagar\n6,300\n0.46%\n\n\nB'

In [11]:
prem_table = tables[2]
prem_table.text[:500]

'\n\n\n\n\n\n\n\nQuarterly Price Change in Localities with Property Rates of Rs 7,000 psf and Above\n\n\n> INR 7,500 psf\n\n\nLocality\nAvg. Rate (INR psf)\nRate Change\n\n\nHebbal\n9,600\n7.76%\n\n\nRMV Extension Stage 2\n9,500\n7.50%\n\n\nFrazer Town\n10,200\n7.31%\n\n\nBanashankari\n9,600\n7.00%\n\n\nYeshwantpur\n9,500\n6.86%\n\n\nBasavanagudi\n10,700\n6.85%\n\n\nMagadi Road\n8,500\n6.50%\n\n\nYemalur\n9,400\n6.25%\n\n\nJP Nagar Phase 6\n8,900\n6.00%\n\n\nKoramangala\n11,900\n5.87%\n\n\nHebbal Kempapura\n9,300\n4.88%\n\n\nIndira Nagar\n11,800\n4.78%\n\n\nJayanagar\n11,300'

In [12]:
aff_row = aff_table.select("tbody tr")
len(aff_row)

18

In [13]:
mid_row = mid_table.select("tbody tr")
len(mid_row)

18

In [14]:
prem_row = prem_table.select("tbody tr")
len(prem_row)

20

In [15]:
aff_entries = [
    [ cell.text for cell in row.select("td") ]
    for row in aff_row
]

aff_entries[:3]

[['Quarterly Price Change in Major Localities with Prices below Rs 5,000 PSF'],
 ['Prices < INR 5,000 psf'],
 ['Locality', 'Avg. Rate (INR per square feet)', 'Rate Change']]

In [16]:
mid_entries = [
    [ cell.text for cell in row.select("td") ]
    for row in mid_row
]

mid_entries[:3]

[['Rachenahalli', '6,300', '7.50%'],
 ['Bilekahalli', '5,900', '7.50%'],
 ['Begur Road', '6,200', '7.50%']]

In [17]:
prem_entries = [
    [ cell.text for cell in row.select("td") ]
    for row in prem_row
]

prem_entries[:3]

[['Quarterly Price Change in Localities with Property Rates of Rs 7,000 psf and Above'],
 ['> INR 7,500 psf'],
 ['Locality', 'Avg. Rate (INR psf)', 'Rate Change']]

In [18]:
df1 = pd.DataFrame(aff_entries, columns = aff_entries[2])
df1.head()

,Locality,Avg. Rate (INR per square feet),Rate Change
0,Quarterly Price Change in Major Localities wit...,None,None
1,"Prices < INR 5,000 psf",None,None
2,Locality,Avg. Rate (INR per square feet),Rate Change
3,Bagalur Main Road,"4,200",6.65%
4,Hoskote,"3,800",3.54%

In [19]:
df1 = df1.drop(0)
df1 = df1.drop(1)
df1 = df1.drop(2)
df1.head()

            Locality Avg. Rate (INR per square feet) Rate Change
3  Bagalur Main Road                           4,200       6.65%
4            Hoskote                           3,800       3.54%
5           Attibele                           3,500       3.21%
6             Gunjur                           4,700       1.38%
7           Kadugodi                           4,900       0.51%

In [20]:
df1 = df1.sort_values(by = ['Avg. Rate (INR per square feet)'])
df1.head()

             Locality Avg. Rate (INR per square feet) Rate Change
5            Attibele                           3,500       3.21%
4             Hoskote                           3,800       3.54%
8          Chandapura                           3,800       0.21%
3   Bagalur Main Road                           4,200       6.65%
15    Electronic City                           4,200      -5.00%

In [24]:
df2 = pd.DataFrame(mid_entries, columns = aff_entries[2])
df2 = df2.sort_values(by = ['Avg. Rate (INR per square feet)'])
df2.tail()

                    Locality Avg. Rate (INR per square feet) Rate Change
17              Bellary Road                           6,500      -3.22%
13      Banashankari Stage 3                           6,800       0.43%
16                Hosur Road                           7,200      -2.90%
11                HSR Layout                           7,200       1.05%
15  Marathahalli-Sarjapur Rd                           7,400       0.14%

In [28]:
df3 = pd.DataFrame(prem_entries, columns = prem_entries[2])
df3 = df3.drop(0)
df3 = df3.drop(1)
df3 = df3.drop(2)
df3.rename(columns = {'Avg. Rate (INR psf)':'Avg. Rate (INR per square feet)'},inplace = True)
df3 = df3.sort_values(by = ['Avg. Rate (INR per square feet)'])
df3.head()

        Locality Avg. Rate (INR per square feet) Rate Change
5    Frazer Town                          10,200       7.31%
8   Basavanagudi                          10,700       6.85%
15     Jayanagar                          11,300       3.97%
14  Indira Nagar                          11,800       4.78%
12   Koramangala                          11,900       5.87%

In [29]:
df = pd.concat([df1, df2, df3], ignore_index=True)
df

                    Locality Avg. Rate (INR per square feet) Rate Change
0                   Attibele                           3,500       3.21%
1                    Hoskote                           3,800       3.54%
2                 Chandapura                           3,800       0.21%
3          Bagalur Main Road                           4,200       6.65%
4            Electronic City                           4,200      -5.00%
5          Kengeri Sat. Town                           4,300      -3.65%
6                    Kengeri                           4,400      -1.61%
7              Kaggadasapura                           4,400      -3.02%
8             Horamavu Agara                           4,400      -4.39%
9             Vidyaranyapura                           4,500      -3.93%
10      Rajarajeshwari Nagar                           4,600      -5.27%
11                    Gunjur                           4,700       1.38%
12                  Horamavu                           4,700      -5.47%
13          Ramamurthy Nagar                           4,800      -3.88%
14                  Kadugodi                           4,900       0.51%
15                 Hosa Road                           5,700       7.00%
16                  Budigere                           5,700       4.43%
17                 Gottigere                           5,800       7.00%
18                 K R Puram                           5,800       6.50%
19               Bilekahalli                           5,900       7.50%
20               Mysore Road                           6,000       0.38%
21        JP Nagar 9th Phase                           6,000       2.02%
22            Budigere Cross                           6,000       1.33%
23                Begur Road                           6,200       7.50%
24              Rachenahalli                           6,300       7.50%
25             Sarjapur Road                           6,300       3.13%
26               Vijayanagar                           6,300       0.46%
27               Thanisandra                           6,400       2.93%
28              Bellary Road                           6,500      -3.22%
29      Banashankari Stage 3                           6,800       0.43%
30                Hosur Road                           7,200      -2.90%
31                HSR Layout                           7,200       1.05%
32  Marathahalli-Sarjapur Rd                           7,400       0.14%
33               Frazer Town                          10,200       7.31%
34              Basavanagudi                          10,700       6.85%
35                 Jayanagar                          11,300       3.97%
36              Indira Nagar                          11,800       4.78%
37               Koramangala                          11,900       5.87%
38              Malleshwaram                          12,000       1.02%
39              Rajaji Nagar                          14,400      -2.11%
40               Magadi Road                           8,500       6.50%
41          JP Nagar Phase 6                           8,900       6.00%
42               Konanakunte                           9,000       3.37%
43          Hebbal Kempapura                           9,300       4.88%
44                   Yemalur                           9,400       6.25%
45     RMV Extension Stage 2                           9,500       7.50%
46               Yeshwantpur                           9,500       6.86%
47                    Hebbal                           9,600       7.76%
48              Banashankari                           9,600       7.00%
49                  Binnypet                           9,800      -3.12%

In [7]:
df = pd.read_csv("property_rate.csv")
df

                    locality   latitude  longitude avg_rate_psf
0                   Attibele  12.778963  77.770203         3500
1                    Hoskote  13.069259  77.798243        3,800
2                 Chandapura  12.801710  77.711611        3,800
3          Bagalur Main Road  13.121609  77.620560        4,200
4            Electronic City  12.845215  77.660169        4,200
5          Kengeri Sat. Town  12.923052  77.484652        4,300
6                    Kengeri  12.899668  77.482684        4,400
7              Kaggadasapura  12.983635  77.679741        4,400
8             Horamavu Agara  13.041107  77.662203        4,400
9             Vidyaranyapura  13.081072  77.556167        4,500
10      Rajarajeshwari Nagar  12.914860  77.520640        4,600
11                    Gunjur  12.920895  77.734478        4,700
12                  Horamavu  13.032633  77.658334        4,700
13          Ramamurthy Nagar  13.016313  77.678481        4,800
14                  Kadugodi  12.990840  77.760780        4,900
15                 Hosa Road  12.870556  77.655760        5,700
16                  Budigere  13.134284  77.746639        5,700
17                 Gottigere  12.856443  77.588845        5,800
18                 K R Puram  13.016999  77.704433        5,800
19               Bilekahalli  12.898460  77.605785        5,900
20               Mysore Road  12.637168  77.130160        6,000
21        JP Nagar 9th Phase  12.868266  77.563375        6,000
22            Budigere Cross  13.063842  77.745566        6,000
23                Begur Road  12.889019  77.625651        6,200
24              Rachenahalli  13.061519  77.616380        6,300
25             Sarjapur Road  12.910933  77.684154        6,300
26              Vijayanagara  12.960000  77.540000        6,300
27               Thanisandra  13.055919  77.632451        6,400
28              Bellary Road  13.134788  77.616961        6,500
29      Banashankari Stage 3  12.934527  77.543521        6,800
30                Hosur Road  12.853918  77.666075        7,200
31                HSR Layout  12.912118  77.644555        7,200
32  Marathahalli-Sarjapur Rd  12.903610  77.703631        7,400
33               Frazer Town  12.997048  77.614408       10,200
34              Basavanagudi  12.940600  77.573763       10,700
35                 Jayanagar  12.930774  77.583830       11,300
36              Indira Nagar  12.978369  77.640836       11,800
37               Koramangala  12.935193  77.624481       11,900
38              Malleshwaram  13.005511  77.569236       12,000
39              Rajaji Nagar  12.998173  77.553045       14,400
40               Magadi Road  12.966290  77.401064        8,500
41          JP Nagar Phase 6  12.900007  77.577703        8,900
42               Konanakunte  12.882219  77.565968        9,000
43          Hebbal Kempapura  13.052912  77.601486        9,300
44                   Yemalur  12.944616  77.683676        9,400
45     RMV Extension Stage 2  13.042217  77.570044        9,500
46               Yeshwantpur  13.025030  77.534024        9,500
47                    Hebbal  13.035356  77.598787        9,600
48              Banashankari  12.925453  77.546757        9,600
49                 Binnipete  12.975777  77.560217        9,800

NameError: name 'FileAttachment' is not defined